nbsphinx
numpy
scipy
matplotlib
astropy
emcee
corner
dynesty
batman-package
seaborn
h5py
pyyaml
tqdm
numpydoc
myst_parser
recommonmark
uncertainties
ipython_genutils
pytest
astroquery
flake8
photutils
sphinx_rtd_theme
pandoc
sphinx-gallery

