# This is the pcf file
# NOTE: DO NOT USE SPACES IN LISTS!

# 00
rundir                       ./tests/      #location of run dir
datadir                      ./tests/data            #location of data dir
suffix                       ima                                                      #data suffix (only ima supported right now)
which_visits                 [0]                                                      #which visits to use; Options: list (e.g., [0,1,3]) or everything

save_obs_times_plot          True
show_obs_times_plot          False


## 02 barycorr
save_barycorr_plot           True                                                     #save a plot with locations of HST?
show_barycorr_plot           False


## 03
Teff                         3250                                                     #effective temperature of the star
logg                         5.026                                                    #surface gravity of the star
MH                           0.29                                                     #metallicity of the star
sm                           k93models                                                #stellar model. Options: blackbody, k93models, ck04models or phoenix

smooth                       True
smooth_sigma                 50

save_smooth_plot             True
show_smooth_plot             False

save_refspec_plot            True                                                     #save a plot showing the stellar model, bandpass and the product of them?
show_refspec_plot            False

## 10
di_rmin                      120                                                      #coordinates (row min max and column min max) where the star in the direct image is
di_rmax                      160
di_cmin                      5
di_cmax                      50

save_image_plot              True                                                     #save plot with direct image and best fit?
show_image_plot              False

di_multi                     median


## 20
s20_testing                  False
n_testing                    4

rmin                         5
rmax                         261

window                       12

background_thld              1000                                                     #background threshold in counts

opt_extract                  True
sig_cut                      15                                                       # optimal extraction, for cosmic rays etc
nsmooth                      9                                                        # optimal extraction, created smoothed spatial profile, medial smoothing filter

save_optextr_plot            True

correct_wave_shift           True

output                       True

save_sp2d_plot               True                                                     #save 2d spectrum
show_sp2d_plot               False

save_trace_plot              True                                                     #save trace
show_trace_plot              False

save_bkg_hist_plot           True                                                     #save bkg_hist
show_bkg_hist_plot           False

save_utr_plot                True                                                     #save 2d spectrum
show_utr_plot                False

save_sp1d_plot               True                                                     #save 2d spectrum
show_sp1d_plot               False

save_bkg_evo_plot            True                                                     #save 2d spectrum
show_bkg_evo_plot            False

save_sp1d_diff_plot          True                                                     #save 2d spectrum
show_sp1d_diff_plot          False

save_utr_aper_evo_plot       True                                                     #save 2d spectrum
show_utr_aper_evo_plot       False

save_refspec_fit_plot        True
show_refspec_fit_plot        False

save_drift_plot              True
show_drift_plot              False


##21

s21_most_recent_s20          True
s21_spec_dir_path_s20        None

wvl_min                      1.135
wvl_max                      1.642
wvl_bins                     11

use_wvl_list                 False
wvl_edge_list                [11400,12200,12600,13000,14600,15000,15400,15800,16200]


##30
s30_myfuncs                  ['constant','upstream_downstream','model_ramp','polynomial1','transit']

s30_fit_white                False
s30_most_recent_s20          False
s30_white_file_path          None

s30_fit_spec                 True
s30_most_recent_s21          True
s30_spec_dir_path            None

remove_first_exp             False
remove_first_orb             False

rescale_uncert               True

run_clipiters                0
run_clipsigma                0

fix_ld                       False
ld_file                      /home/zieba/Desktop/Projects/Open_source/wfc3-pipeline/wfc3_reduction/limb-darkening/results/ld_outputfile.txt

toffset                      2456365

run_divide_white             False
run_verbose                  False

save_allan_plot              False
save_raw_lc_plot             True
save_fit_lc_plot             True

run_lsq                      True
run_mcmc                     True
run_nested                   False

#emcee
run_nsteps                   1000
run_nwalkers	             5
run_nburn                    500

#dynesty
run_dlogz                    25000
run_nlive                    100


lc_type                      transit
