# 00
rundir                                /home/zieba/Desktop/Projects/Open_source/PACMAN/run      #location of run dir
datadir                               /home/zieba/Desktop/Data/GJ1214_Hubble13021              #location of data dir
suffix                                ima                                                      #data suffix
which_visits                          all                                                      #which visits to use


## 02 barycorr
save_barycorr_plot                   True                                                      #save a plot with locations of HST?
show_barycorr_plot                   False


## 03
Teff                                  3412
logg                                  4.94
MH                                    -0.5
sm                                    phoenix
save_bandpass_plot                    True
show_bandpass_plot                    False
save_refspec_plot                     True
show_refspec_plot                     False


## 10
di_rmin                               270
di_rmax                               290
di_cmin                               245
di_cmax                               265
save_image_plot                       True
show_image_plot                       False


## 20
window   10

save_spectrum2d_plot                       True
show_spectrum2d_plot                       False
save_spectrum1d_spec_opt_plot              True
show_spectrum1d_spec_opt_plot              False
save_spectrum1d_spec_box_plot              True
show_spectrum1d_spec_box_plot              False
save_spectrum1d_spec_opt_diff_plot         True
show_spectrum1d_spec_opt_diff_plot         False
save_c_diag_plot                           True
show_c_diag_plot                           False
save_trace_plot                            True
show_trace_plot                            False
save_bkg_hist_plot                         True
show_bkg_hist_plot                         False
save_uptheramp_plot                        True
show_uptheramp_plot                        False
save_refspec_comp_plot                     True
show_refspec_comp_plot                     False
save_uptheramp_plot_total                  True
show_uptheramp_plot_total                  False




offset   0 #int


#FIXME SZ do that in util.py because its grism dependent
BEAMA_i  15 #41
BEAMA_f  196 #248

diagnostics        False
background_thld  1000 #background threshold in counts

rmin     0
rmax     512 #255
cmin     0
cmax     512 #255

flat     /home/zieba/Desktop/Projects/Open_source/wfc3-pipeline/wfc3_reduction/ancil/flats/WFC3.IR.G141.flat.2.fits #ancil/flats/WFC3.IR.G102.flat.2.fits

opt_extract  True
sig_cut  15  #optimal extraction, for cosmic rays etc
nsmooth  9         #optimal extraction, created smoothed spatial profile, medial smoothing filter

rdnoise  22.0

output   True
correct_wave_shift   True




#one_di_per_visit     False
#background_box   False #background count is being estimated by using a user-selected box. Need to set skyrmin etc
#skyrmin  15
#skyrmax  70
#skycmin  20 #100 #400
#skycmax 100 #200 #500


##21
### Wavelength bins
#wave_bins = np.linspace(1.125, 1.65, 22)*1e4
#wave_bins = np.linspace(1.125, 1.65, 12)*1e4
#wave_bins = np.linspace(1.139, 1.631, 12)*1e4
#wave_bins = np.array([11400, 11800, 12200,12600,13000, 13400, 13800, 14200, 14600, 15000, 15400, 15800, 16200])
wvl_min  1.125
wvl_max  1.65
wvl_bins   [12]



##30
toffset  2458366

lc_type  transit

ld_file  /home/zieba/Desktop/Projects/Open_source/wfc3-pipeline/wfc3_reduction/limb-darkening/results/ld_outputfile.txt
fix_ld   False

run_verbose         True
run_output          False
run_show_plot       True
run_mcmc            False
run_nested          False
run_lsq             True
run_plot_raw_data   True
run_fit_white       False
run_divide_white    False
#run_files           ['/home/zieba/Desktop/Projects/Open_source/wfc3-pipeline/run/run_2021-10-12_22-19-33_L-98-59_Hubble15856/extracted_lc/2021-10-12_22_22/lc_white.txt']
#run_files           ['/home/zieba/Desktop/Projects/Open_source/wfc3-pipeline/run/run_2021-10-12_22-19-33_L-98-59_Hubble15856/extracted_sp/bins12_2021-10-13_00-01-47']
#run_files           ['/home/zieba/Desktop/Projects/Open_source/wfc3-pipeline/run/run_2021-10-12_22-19-33_L-98-59_Hubble15856/extracted_sp/bins12_2021-11-02_21-55-15']
run_files           ['/home/zieba/Desktop/Projects/Open_source/wfc3-pipeline/run/run_2021-10-12_22-19-33_L-98-59_Hubble15856/extracted_sp/bins12_2021-11-10_15-21-09']
run_myfuncs         ['constant','upstream_downstream','model_ramp','polynomial1','transit']


save_allan_plot    True

#mcmc
run_nsteps          10000
run_nwalkers	    70
run_nburn           5000


run_dlogz     25000
run_nlive     100

run_clipsigma       0
run_clipiters       0




#skip_orbs_phase_curve    0_
#skip_orbs_eclipse    0_
#skip_orbs_transit    0_7_
