numpy
scipy
matplotlib
astropy
emcee
corner
dynesty
batman-package
seaborn
h5py
pyyaml
tqdm
uncertainties
sphinx
nbsphinx
sphinx-automodapi
numpydoc
myst_parser
recommonmark
sphinx_rtd_theme
pandoc
sphinx-gallery
nbconvert
ipython_genutils
celerite
exotic-ld
