name: Codecov2

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test python API

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install .

    - name: Run tests and collect coverage
      run: pytest --cov --cov-report xml .

    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v2
